.ok{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-size:  48px;

}

.titulo{
  margin-left: 10px;
}

small{
  margin-left: 10px;
}

.botao{
  margin-top: 15px;
}
