<h2>Eventos
</h2>
<hr>
<div action="" class="form-inline">
  <div class="form-group mb-2">
    <h5></h5>
    <label class="mr-2">Filtro:⠀</label>
    <input type="text" class="col-auto mb-2" placeholder="Buscar"
    [(ngModel)]="filtrolista"
    >
  </div>
 <!--<h4>Filtro:{{filtrolista}}</h4>-->
</div>

<table class="table">
  <thead class="table-dark">
    <tr>
  <th>
    <button type="button" class="btn btn-outline-light btn-sm"
       (click)="exibirimagem = !exibirimagem">
      <i class="{{exibirimagem ? 'bi bi-eye' : 'bi bi-eye-slash'}}"></i>
       {{exibirimagem ? 'Exibir' : 'Esconder'}}
    </button>
  </th>
      <th>Id</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>QtPessoas</th>
      <th>Lote</th>
      <th>Opçoes</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length " >
    <tr *ngFor="let evento of eventosfiltrados">
      <td >
        <img [collapse]="exibirimagem" [isAnimated]="true" src="../../assets/{{evento.imagemUrl}}" alt="Evento"
        [style.width.px] = "tamanhoimg"
        [style.margin.px] = "tamanhomargin"
        height="90px"

        >
      </td>
      <th scope="row">{{evento.id}}</th>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button class="btn btn-sm btn-primary me-2">
          <i class="bi bi-pencil-fill"></i>
          Editar</button>
        <button class="btn btn-sm btn-danger">
          <i class="bi bi-trash-fill" ></i>
        Excluir</button>
      </td>
    </tbody>
<tfoot *ngIf="!eventos.length">
  <td colspan="8" class="text-center"  >
    <h4>Nenhum Evento encontrado</h4>
  </td>
</tfoot>
</table>


















