
.Eventos-1{
  color: rgb(0, 0, 0);
  display: inline-block;
}

.ok{
padding: 5px;

}

.kae{
  display: flex;
  align-items: center;
  justify-content: center;

}

.mesa{
  border-radius: 10px;
}

.bow{
  margin-left: 845px;
  margin-bottom: 10px;
}

.bow:hover{
  background-color: rgb(17, 40, 17);
}
