
.Eventos-1{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 17px;
  border-radius: 8px;
  background-color: #201e1e;
  color: white;
  justify-content: space-between;
}

.ok{
padding: 5px;

}

.kae{
  display: flex;
  align-items: center;
  justify-content: center;

}

.mesa{
  border-radius: 10px;
}
