<br>
<div class="Eventos-1" >
  <h2>
    <i class="ok bi bi-calendar2-date"></i>
    Eventos
  </h2>
  <div action="" class="kae form-inline">
    <div class="form-group mb-2">
      <label class="mr-2">
        <i class="bi bi-funnel-fill"></i>
        Filtro:⠀</label>
      <input type="text" class="col-auto mb-2" placeholder="Buscar"
      [(ngModel)]="filtrolista"
      >
    </div>
  </div>
  <button class="btn btn-outline-light" tooltip="ListEventos">List Eventos</button>
</div>

<br>
<br>
 <!--<h4>Filtro:{{filtrolista}}</h4>-->


<table class="table border border-secondary">
  <thead class="table-dark">
    <tr>
  <th>
    <button type="button" class="btn btn-outline-light btn-sm"
       (click)="exibirimagem = !exibirimagem">
      <i class="{{exibirimagem ? 'bi bi-eye' : 'bi bi-eye-slash'}}"></i>
       {{exibirimagem ? 'Exibir' : 'Esconder'}}
    </button>
  </th>
      <th>Id</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>QtPessoas</th>
      <th>Lote</th>
      <th>Opçoes</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length " >
    <tr *ngFor="let evento of eventosfiltrados">
      <td >
        <img [collapse]="exibirimagem" [isAnimated]="true" src="../../assets/{{evento.imagemUrl}}" alt="Evento"
        [style.width.px] = "tamanhoimg"
        [style.margin.px] = "tamanhomargin"
        height="90px"

        >
      </td>
      <th scope="row">{{evento.id}}</th>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimePipes}}</td>
      <td>{{evento.qtPessoas}}</td>
      <td>{{evento.lotes[0].name}}</td>
      <td>
        <button class="btn btn-sm btn-primary me-2" tooltip="Editar">
          <i class="bi bi-pencil-fill"  ></i>
          Editar</button>
        <button class="btn btn-sm btn-danger " tooltip="Excluir" (click)="openModal(template)">
          <i class="bi bi-trash-fill" ></i>
        Excluir</button>
      </td>
    </tbody>
<tfoot *ngIf="!eventos.length">
  <td colspan="8" class="text-center"  >
    <h4>Nenhum Evento encontrado</h4>
  </td>

</tfoot>
</table>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Voce Deseja Realmente Excluir?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>

















